version: "3.9"

services:
  fe:
    container_name: cinejoy-fe
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    env_file:
      - .env
    restart: unless-stopped
